{% extends "main.html" %}

{% block page_name %}
Edit Page
{% endblock %}

{% block content %}
    <h1 style="font-size:40px;">Edit Page</h1>   
    <form action="/edit_page" method="post">
        
        <textarea rows = "52" cols = "200" name = "pagecontent">
&lt!DOCTYPE html&gt
&lthtml&gt
    &lthead&gt
        &lttitle&gt
                ENTER TITLE HERE...
        &lt/title&gt
    &lt/head&gt
            
    &ltbody&gt
        &lth1&gtENTER TITLE HERE...&lt/h1&gt
            
        &ltp&gt
        ENTER INFO HERE...
        &lth3&gtSome Popular Examples&lt/h3&gt
        &ltp&gt
        ENTER EXAMPLES HERE...
        &lt/p&gt
        &ltu1&gtENTER SOURCES HERE...&lt/u1&gt
    &lt/body&gt
&lt/html&gt            
         </textarea>
         <select name="pages_select" method="GET" action="/">
            {% for page in pages %}
            <option value= "{{page}}" SELECTED>{{page}}</option>"
            {% endfor %}
        </select>
        <input type="submit" class="btn" value="Upload to Wiki"></br>
    </form>
{% endblock %}
