{% extends "main.html" %}

{% block page_name %}
Login
{% endblock %}
<!--Displayed header, used the form and a post method to retrieve the information the user inputted. had text boxes,
    pw was censored, and the submit button-->
{% block content %}
<h3>Log In</h3>
<form action = "/login" method = "post">
    <input id = "username" type = "text" name = "username" placeholder="Username"><br>
    <input id = "password" type = "password" name = "password" placeholder="Password"><br>
    <input id = "submit" type = "submit" value = "Submit" ><br>
</form>
{% endblock %}