<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Java the Huttt Checkpoint Complete!</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <form>
        <button >
            <a href = "/pages">Pages</a>
        </button>
    </form>

    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        Hello Tatooine!
    </div>
</body>

</html>