<div style="text-align: right;">
    <ul style="margin-left: 0; padding-left: 0;">
        <li style="display:inline; padding-right: 20px;">
            <a href = "/">Home</a>
        </li> 
        <li style="display:inline; padding-right: 20px;">
            <a href = "/pages">Pages</a>
        </li>
        <li style="display:inline; padding-right: 20px;">
            <a href = "/">About</a>
        </li>
        <li style="display:inline; padding-right: 20px;"> | </li>
        {% if username %}
            <li style="display:inline; padding-right: 20px;">
                {{ username }}
            </li>
            <li style="display:inline; padding-right: 20px;"> | </li>
            <li style="display:inline; padding-right: 20px;">
                <a href = "/">Upload</a>
            </li>
            <li style="display:inline; padding-right: 20px;">
                <a href = "/">Logout</a>
            </li>
        {% else %}
            <li style="display:inline; padding-right: 20px;">
                <a href = "/">Login</a>
            </li>
            <li style="display:inline; padding-right: 20px;">
                <a href = "/">Signup</a>
            </li>
        {% endif %}
    </ul>
</div>
